.git
.github
.venv
**/__pycache__
.mypy_cache
.ruff_cache
.pytest_cache
.import_linter_cache
.coverage*
htmlcov
tests
docs/*
!docs/diccionario
docs/diccionario/*
!docs/diccionario/semilla-v1.json
*.md
!README.md
.env
.env.*
.editorconfig
.python-version
Dockerfile
.dockerignore
